<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="WebTestsSuite">
  <test name="SeleniumTest">
    <classes>
      <class name="com.solvd.project.TestSelenium"/>
       <methods>
              <include name="testHeader"/>
              <include name="testReadMoreBtn"/>
              <include name="testScrollToFooter"/>
              <include name="testSearchInput"/>
              <include name="testDownloadsLink"/>
       </methods>
      <class name="com.solvd.project.TestItems"/>
       <methods>
              <include name="testClickSecondItem"/>
       </methods>
    </classes>
  </test>
</suite>